# PORT=3000
# NODE_ENV=development
# ALLOWED_ORIGIN=*

# DB_HOST=localhost2
# DB_USER=root
# DB_PASSWORD=123456
# DB_NAME=students_db

# JWT_SECRET=change-this-to-a-long-random-string-in-production
# JWT_EXPIRES_IN=1h
